#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.form-centered {
  display: flex;
  flex-direction: column; /* Stack form groups vertically */
  align-items: center; /* Center the form groups within the form */
  width: 100%; /* Adjust to your form's desired width */
  max-width: 600px; /* Optional: set a max width */
  margin: 0 auto; /* Center the form on the page */
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px; /* Space between each form group */
  width: 100%;
  max-width: 500px;
}

.form-centered label {
  flex: 0 0 29%; /* Label takes fixed width */
  margin-right: 1%; /* Space between label and dropdown */
  text-align: right; 
}

.form-centered select {
  flex: 1; /* Dropdowns will expand equally */
  padding: 8px;
  max-width: 300px;
  border-radius: 5px;
  font-size: 1em;
}
